<div class="container">
  <div class="row">
    <div class="top_explain">
      <h1>famireco</h1>
      <h3>-- 成長の記録 --</h3>
      <br>
      <br>
      家族やグループで写真を共有したり、整理したりするアプリケーションです
      <br>
      <br>
      <br>
      状況変化や、記録、振り返り等に。
      <br>
      <br>
      <br>
      年頃の子供たちとのコミュニケーション促進ツールとして、
      <br>
      会話のきっかけ作へとつながることを期待致します
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
  
<div>
  <div class="row">
    <div class="top_button">
      <% unless user_signed_in? %>
        <div class="top_link">
          <%= link_to '　　　ログイン　　　', new_user_session_path, class:"btn btn-info" %><br><br>
          <%= link_to '　　ユーザー登録　　', new_user_registration_path, class:"btn btn-info" %><br><br>
          <%= link_to '　ゲストログイン　　', users_guest_sign_in_path, method: :post, class:"btn btn-info" %><br><br>
          <%= link_to '管理者ゲストログイン', users_guest_admin_sign_in_path, method: :post, class:"btn btn-info" %><br><br>
        </div>
      <% end %>
    </div>
  </div>
</div>


