<div class="container">
  <h2 class="title_user">投稿編集</h2>

<%= render 'form', picture: @picture %>


<div class="back">
  <%= link_to "戻る", picture_path(@picture), class:"btn btn-default" %>
</div>

